
body {
    font-family: Arial, sans-serif;
    
    display: grid;
    place-items: center; /* Centra tanto horizontal como verticalmente */
    height: 100vh;
    margin: 0;
}
.login-container {
    background-color: #fdd68d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 600px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 650px;
    transform: translate(0, 70px);
}

h2 {
    margin-bottom: 50px;
    margin-right: 50px;
    color: #333;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: black;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #e6896b;
    border: none;
    border-radius: 4px;
    color: black;
    font-size: 16px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

button:hover {
    background-color: #be8c6b;
}